<div class="alert alert-success" role="alert"><b>CODE</b> cho muôn đời sau.</div>

<div class="main-index">
  <h2 class="text-center">THƯ VIỆN SÁCH MIỄN PHÍ</h2>
  <p class="text-center">
     Bookreview là dự án phi lợi nhuận,nhằm mục đích chia sẻ sách miễn phí cho sinh viên công nghệ.
  </p>
  <ul class="row">
    <%= render @cates %>
  </ul>
  <%= image_tag("coder.png", alt: 'Image',  class: "image-bg-index") %>
</div>
