<% provide :title, @cate.title %>
<div class="row">
  <div class="col-md-9">
    <div class="card mb-15">
      <div class="card-header ">
        <%= @cate.title %>
      </div>
      <div class="card-body row">
        <% @cate.books.each do |book| %>
          <div class="col-xs-6 col-md-3 col-sm-3 box-book">
            <div class="card">
              <%= image_tag(book.image.url, class: "thumbbook") if book.image? %>
              <div class="card-body">
                <h6 class="card-title"><%= link_to book.title , book_path(book) %></h6>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "layouts/client/sidebar" %>
</div>
