<div class="row">
  <div class="col-md-4">
    <%= image_tag ("404.png") %>
  </div>
  <div class="col-md-8">
    <h1 class="text404">AWWW...DON’T CRY.</h1>
    <p>
      Đó chỉ là lỗi 404 thôi mà !
      <br>
      Ồh Hố bạn tìm kiếm có thể đã bỏ đi chơi vì cô đơn đã 2 triệu năm. Đừng quá lo lắng nhé
      <%= link_to "Về nhà nào !" ,root_path %>
    </p>
  </div>
</div>
