.logo {
  color: #fff;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 19px;
}
.ftcopyright {
  line-height: 40px;
  .copyright {
    color: #fff;
  }
}
.header a{
  color: #19d443;
}
.chapter-list li a {
  color:#28a745;
}
.card-header {
  color:#28a745;
  font-weight: bold;
}
