<% provide :title, "All users" %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
