<% provide :title, t(".title") %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t(".avatar") %></th>
      <th scope="col"><%= t(".name") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
